* {
  margin: 0;
  background-color: rgb(202, 213, 213);
}

.app {
  display: grid;
  justify-content: center;
}
.card {
  height: 100vh;
  width: 500px;
}
.cityImg {
  height: 100px;
  width: 220px;
}
.tempImg {
  height: 100px;
  width: 220px;
}
