* {
  margin: 0;
  background-color: rgb(202, 213, 213);
}

.app {
  display: grid;
  justify-content: center;
}

.cityImg {
  height: 100px;
  width: 220px;
}
.tempImg {
  width: 500px;
  height: 140px;
}
